<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Tarjetas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    <div class="container my-2">
    <div class="card">
    <div class="card-body">
        <div th:switch="${tarjetas}" class="container my-5">
            <p class="my-4">
                <a href="/tarjeta/agregarTarjeta" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2"> Add Tarjeta </i></a>
                
                <a href="/" class="btn btn-primary">
                <i class="fas ml-1"> Volver </i></a>
            </p>
            
            <div class="col-md-15">
                <h2 th:case="null">No record found !!</h2>
                <div th:case="*">
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>ID de Tarjeta</th>
                                <th>Codigo de Seguridad</th>
                                <th>Numero de Tarjeta</th>
                                <th>Tipo</th>
                                <th>Monto Permitido</th>
                                <th>Vencimiento</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody align="center">
                            <tr th:each="tarjeta : ${tarjetas}">
                            	<td th:text="${tarjeta.id}"></td>
                            	<td th:text="${tarjeta.cod_seguridad}"></td>
                                <td th:text="${tarjeta.numero}"></td>
                                <td th:text="${tarjeta.tipo}"></td>
                                <td th:text="${tarjeta.monto}"></td>
                                <td th:text="${tarjeta.vencimiento}"></td>
                                <td>
                                    <a th:href="@{/tarjeta/goToUpdate/{id}(id=${tarjeta.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/tarjeta/remove/{id}(id=${tarjeta.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>