<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Actualizar Venta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
 
<body>
    <div class="container my-5">
        <h3> Actualizar Venta</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/venta/update}" th:object="${venta}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">ID de Cliente</label> 
                                <input type="number" th:field="*{cliente_id}" class="form-control"
                                            id="cliente_id" placeholder="ID de Cliente" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">ID de Tarjeta</label> 
                                <input type="number" th:field="*{tarjeta_id}" class="form-control"
                                            id="tarjeta_id" placeholder="ID de Tarjeta" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="monto" class="col-form-label">Monto</label> 
                                <input type="number" step="any" th:field="*{monto}" class="form-control"
                                            id="monto" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Fecha de la Venta</label> 
                                <input type="datetime" th:field="*{fecha}" class="form-control"
                                            id="fecha" placeholder="Fecha de Venta" />
                            </div>

 
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Actualizar ">
                                <a href="/venta" class="btn btn-secondary">
	               				<i class="fas fa-arrow-alt-circle-left"></i></a>
                            </div>
 
                            <input type="hidden" id="id" th:field="*{id}">
     
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
 
</html>